@import "tailwindcss";

:root {

  --background: 239 246 255; /* Color oscuro */
  --foreground: 34 34 34;
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

.dark {
  --background: 34 34 34;
  --foreground: 239 246 255;
} 

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




@layer base {
  :root {
    --gray: 30 41 57;
    --gr-from: 239 246 255;
    --gr-to: 250 245 255;
    --label: 51 63 57;
    --dark: 12, 10, 9;
    --background: 239 246 255;
    --foreground: 34 34 34;
    --primary: 216 224 240;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
  }

  .dark {
    --gray: 30 41 57;
    --gr-from: 16 24 40;
    --gr-to: 25 41 57;
    --label: 153 161 175;
    --dark: 243, 245, 246;
    --background: 34 34 34;
    --foreground: 239 246 255;
    --primary: 16 24 40;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
  }
}
